:root {
  /*color*/
  --color-white: #fafafa;
  --color-blue: #23b3df;
  --color-skyblue: #35c5f0;
  --color-green: #1ec800;
  --color-black: #424242;
  --color-darkgrey: #757575;
  --color-grey: #dbdbdb;
  --color-light-grey: #ededed;
  --color-white-grey: #f5f5f5;
  --color-red: #ff7777;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
  word-spacing: -0.08em;
  font-family: "Noto Sans KR","Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
/*Universal tags*/
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black);
}

/*commons*/

/* 대표 faq */
.faq_top {
  padding: 30px 7px 6px;
  background-color: #effbff;
}
.faq_top .mobile-hide {
  display: none;
}
.faq__top__list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.faq-navigation-item {
  display: block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-blue);
}
.faq__top__list > li {
  margin-bottom: 24px;
}
.faq__top__list > li:hover .faq-navigation-item {
  color: var(--color-blue);
  text-decoration: underline;
}
.faq-navigation-item {
  display: block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-blue);
}
/* faq */
.faq {
  margin-top: 30px;
}
.faq .cs-time {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
}
.cs-write {
  margin-bottom: 30px;
}
.question-btn {
  display: block;
  margin-bottom: 10px;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  text-align: center;
  font-size: 11px;
  color: var(--color-black);
  text-decoration: none;
  background-color: var(--color-white-grey);
}
.question-btn:hover {
  color: inherit;
}
/* 메뉴별 FAQ */
.faq__menu {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}
.faq__menu > li {
  flex: 1 0 25%;
  margin-top: -1px;
  padding: 12px 0;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
  text-align: center;
}
.faq__menu > li:nth-child(4n) {
  border-right: none;
}
.faq__menu__nav {
  font-size: 12px;
  color: var(--color-black);
  text-decoration: none;
}
.faq__menu__nav:hover {
  color: inherit;
}
.faq__menu__nav.active {
  color: var(--color-skyblue);
}
/* FAQ 리스트 */
.faq__contents {
  position: relative;
  padding: 30px 0 20px 20px;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}
.faq__title {
  margin-bottom: 0;
  cursor: inherit;
}
.faq__title::before {
  position: absolute;
  left: 0;
  content: "Q";
  margin-right: 7px;
  color: var(--color-skyblue);
}
.faq__answer {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  line-height: 22px;
  transition: all 300ms ease-in;
}
.faq__answer.active {
  max-height: 100%;
  margin-top: 30px;
  opacity: 1;
  visibility: visible;
}
.faq__answer::before {
  position: absolute;
  left: 0;
  content: "A";
  margin-right: 7px;
  color: var(--color-skyblue);
}

@media screen and (min-width: 768px) {
  .faq_top {
    padding: 60px;
  }
  .faq_top .mobile-hide {
    display: block;
  }
  .faq_top_head {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
  }
  .contact-us .title,
  .contact-us .text {
    display: inline;
    line-height: 32px;
    letter-spacing: -0.04em;
    font-size: 18px;
  }
  .contact-us .title::after {
    content: ":";
    margin: 0 4px;
  }
  .contact-us a.text {
    color: var(--color-black);
  }
  .contact-us__btn {
    margin-top: 21px;
    padding: 20px 0;
    width: 220px;
    font-size: 18px;
    color: #fff;
    background-color: var(--color-skyblue);
    border-radius: 4px;
  }
  .contact-us__btn:hover {
    background-color: var(--color-blue);
  }
  .faq-navigation-item {
    font-size: 18px;
  }
  .cs-write.row {
    display: none;
  }
  .faq {
    margin: 0;
  }
  /* 메뉴 nav */
  .faq__menu {
    border-bottom: 1px solid #dbdbdb;
  }
  .faq__menu > li {
    flex: 1 0 0;
    padding: 20px 0;
    border: none;
    text-align: center;
  }
  .faq__menu__nav {
    font-size: 18px;
  }
  .faq__title,
  .faq__answer {
    font-size: 18px;
    font-weight: 400;
  }
}
