/*Global*/
:root {
  /*color*/
  --color-white: #fafafa;
  --color-blue: #23b3df;
  --color-skyblue: #35c5f0;
  --color-green: #1ec800;
  --color-black: #424242;
  --color-darkgrey: #757575;
  --color-grey: #dbdbdb;
  --color-light-grey: #ededed;
  --color-white-grey: #f5f5f5;
  --color-red: #ff7777;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
  word-spacing: -0.08em;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
/*Universal tags*/
h1 {
  margin-bottom: 0;
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
/*commons*/

/* update password form */
#update-password {
  padding: 80px 20px;
}
.update-password__title {
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: 700;
}
.update-password__form {
  display: flex;
  flex-direction: column;
}
.update-password__form > .input-group {
  display: flex;
  flex-direction: column;
}
label[for="user_pw1"],
label[for="user_pw2"] {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
}
#update-password__form .subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
.update-password__form #user_pw1,
.update-password__form #user_pw2 {
  height: 40px;
  margin: 20px 0;
  padding: 0 15px;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--color-grey);
  font-size: 15px;
  cursor: text;
}
.update-password__form #user_pw1:focus,
.update-password__form #user_pw2:focus {
  background-color: var(--color-white);
  outline: none;
  box-shadow: 0 0 3px var(--color-skyblue);
}
/* input error */
.update-password__form #user_pw1.error,
.update-password__form #user_pw2.error {
  box-shadow: 0 0 3px var(--color-red);
}
#update-password .regexp-error-msg,
#update-password .pwd-not-same-msg {
	display: none;
}
#update-password .regexp-error-msg.show,
#update-password .pwd-not-same-msg.show {
	display: block;
	margin-bottom: 20px;
	color: var(--color-red);
	font-size: 12px;
}

@media screen and (min-width: 768px) {
  #update-password {
    width: 480px;
    padding: 40px;
    margin: 50px auto;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
  }
  label[for="user_pw1"],
  label[for="user_pw2"] {
    font-size: 15px;
  }
  #update-password__form .subtitle {
    font-size: 15px;
  }
}
