/*Global*/
:root {
  /*color*/
  --color-white: #fafafa;
  --color-blue: #23b3df;
  --color-skyblue: #35c5f0;
  --color-green: #1ec800;
  --color-black: #424242;
  --color-darkgrey: #757575;
  --color-grey: #dbdbdb;
  --color-light-grey: #ededed;
  --color-white-grey: #f5f5f5;
  --color-red: #ff7777;
}

/* button color */
.button--color-skyblue {
  background-color: var(--color-skyblue);
  border: none;
  border-radius: 4px;
  color: #fff;
}
.button--color-skyblue:hover {
  background-color: var(--color-blue);
}
.button--color-gray {
  background-color: var(--color-white-grey);
  color: var(--color-black);
  border: none;
  border-radius: 4px;
}
.button--color-gray:hover {
  background-color: var(--color-light-grey);
}
.button--color-gray-inverted {
  padding: 4px 10px;
  border-radius: 50px;
  border: 1px solid var(--color-light-grey);
  background-color: #fff;
}
.button--color-gray-inverted:hover {
  background-color: var(--color-white);
}
/* button size */
.button-size-60 {
  padding: 14px 15px;
  font-size: 18px;
  line-height: 30px;
}
.button-size-50 {
  padding: 11px 10px;
  font-size: 17px;
  line-height: 26px;
}
.button-size-30 {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
}
