/*Global*/
:root {
  /*color*/
  --color-white: #fafafa;
  --color-blue: #23b3df;
  --color-skyblue: #35c5f0;
  --color-green: #1ec800;
  --color-black: #424242;
  --color-darkgrey: #757575;
  --color-grey: #dbdbdb;
  --color-light-grey: #f5f5f5;
  --color-red: #ff7777;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.04em;
  word-spacing: -0.08em;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
/*Universal tags*/
html,
body {
  width: 100%;
}
a,
li > a {
  display: block;
  color: var(--color-black);
  text-decoration: none;
  cursor: pointer;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.store {
  width: 100%;
}
/*header*/
.navigation-bar {
  padding: 0 8px;
}
.sticky-header > .header-menu {
  padding-left: 6px;
  color: var(--color-skyblue);
}
.header-menu {
  padding: 6px 6px 6px 0;
  font-size: 22px;
  color: var(--color-darkgrey);
}
.header-right {
  display: flex;
}
.sticky-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--color-light-grey);
}
.sticky-header > h1 > .main {
  padding: 6px;
  font-size: 22px;
  text-decoration: none;

  letter-spacing: -0.06em;
  word-spacing: -0.1em;
  color: var(--color-black);
}
.sticky-navbar > .navbar__list {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
/* store */
.container.store {
  padding: 0;
}
.carousel__banner .banner__image {
  width: 100%;
  height: 196px;
}
/* category */
.category-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.category-item {
  margin: -0.5px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light-grey);
}
.category-item__image {
  width: 52px;
  height: 52px;
}
.category-wrap .category-item:last-child {
  background-color: var(--color-light-grey);
}
/* store__today-deal */
.container.store__today-deal {
  margin: 50px 0 40px;
}
.today-deal-item {
  margin-bottom: 16px;
}
.store__today-deal .title {
  display: flex;
  justify-content: space-between;
}
.store__today-deal h1 {
  font-size: 20px;
  font-weight: 700;
}
.store__today-deal .title > p {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-red);
}
.today-deal-item__overlay {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
.today-deal-item img {
  width: 48%;
}
.today-deal-item__content {
  margin-left: 10px;
}
.store__today-deal i {
  color: var(--color-skyblue);
  margin-right: -1px;
}
.store__today-deal .avg {
  margin-right: 2px;
}
.store__today-deal .review {
  word-spacing: -2px;
  color: var(--color-darkgrey);
  font-weight: 700;
}
/*.container store-keywords*/
.keyword-wrap {
  position: relative;
}
.container.store-keywords h1 {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
}
.keyword-wrap .keyword {
  margin-bottom: 10px;
}
.store-keywords .keyword-img {
  width: 100%;
  height: 97px;
}
.store-keywords .keyword-img > img {
  width: 100%;
  height: 100%;
}
.keyword-wrap span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
/*container store-product*/
.container.store-product {
  margin-top: 50px;
}
.container.store-product h1 {
  margin-bottom: 14px;
  line-height: 0.9;
  font-size: 20px;
  font-weight: 700;
}
.product-item__item > img {
  width: 140px;
  height: 140px;
}

@media screen and (min-width: 768px) {
  .store {
    display: flex;
    flex-flow: column;
  }
  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    height: 80px;
  }
  .sticky-navbar {
    margin-top: 80px;
  }
  .sticky-navbar > .navbar__list {
    height: 48px;
  }
  .container.store {
    width: 100%;
  }
  .carousel__banner .banner__image {
    width: 100%;
    height: 380px;
  }
  .category-wrap {
    width: 100%;
    margin: 40px 84px 0;
    order: 2;
  }
  .category-item {
    flex: 1;
    min-width: 10%;
    height: 122px;
  }
  .category-item > img {
    width: 80px;
    height: 80px;
  }
  .container.store__today-deal {
    order: 1;
    margin: 50px 60px 0;
  }
  .today-deal-item__overlay {
    flex-direction: column;
  }
  .today-deal-item__overlay > img {
    width: 100%;
  }
  .container.store-keywords {
    order: 3;
    margin: 50px 60px 0;
  }
  .store-keywords .keyword-img {
    max-width: 243px;
    height: 120px;
  }
  .container.store-product {
    order: 4;
  }
  .product-item__item > img {
    width: 100%;
    height: auto;
  }
}
