/*Global*/
:root {
  /*color*/
  --color-white: #fafafa;
  --color-blue: #23b3df;
  --color-skyblue: #35c5f0;
  --color-green: #1ec800;
  --color-black: #424242;
  --color-darkgrey: #757575;
  --color-grey: #dbdbdb;
  --color-light-grey:#ededed;
  --color-white-grey: #f5f5f5;
  --color-red: #ff7777;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
  word-spacing: -0.08em;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
/*Universal tags*/
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style-type: none;
  padding-left: none;
}

/*header*/
.navigation-bar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
  border-bottom: 1px solid var(--color-white-grey);
}
.navigation-bar__header > .main-title {
  position: absolute;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-right {
  display: flex;
  align-items: center;
}
.navigation-search-input {
  display: none;
}
.main-title-link {
  padding: 6px;
  margin: 7px 1px;
  font-size: 22px;
  text-decoration: none;
  color: var(--color-darkgrey);
  cursor: pointer;
}
.navigation__icon.mobile-hide {
   display: none;
}
.navigation__icon {
	padding: 6px;
}
.navigation__icon:hover {
  border-radius: 50%;
  background-color: var(--color-skyblue);
}
.navigation__icon:hover .navigation-icon {
	stroke:#fff;
}
.navigation-user.mobile-hide,
.navigation-upload.mobile-hide {
  display: none;
}
.navigation-user.mobile-hide > .navigation-user-icon {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  border-radius: 100%;
  cursor: inherit;
}
.navigation-user.mobile-hide:hover > .navigation-user-icon {
  border: 2px solid var(--color-skyblue);
}
.navigation-user.mobile-hide > .drop-down {
    width: 12px;
    height: 12px;
    cursor: inherit;
}
.navigation-user.mobile-hide > .drop-down.hover {
    display: none;
}
.navigation-user.mobile-hide:hover .drop-down {
  display: none;
}
.navigation-user.mobile-hide:hover .drop-down.hover {
  display: block;
}

.navigation-user-menu {
  position: relative;
}
.navigation-user__dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  width: 200px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999;
  transition: opacity 0.2s, transform 0.2s;
}
/*
.navigation-user-menu:hover .navigation-user__dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: none;
}*/ /*.navigation-user.mobile-hide:hover 시에는 왜 안 먹지? 부모요소 자식요소 관계여야 하나?*/
.navigation-user__dropdown-menu.click {
  visibility: visible;
  opacity: 1;
  transform: none;
} 
.navigation-user__menu-list {
  margin: -1px;
  padding-left: 0;
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  background-color: #fff;
}
.navigation-user__dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  margin: 0 0 0 -4px;
  border-width: 0 5px 10px;
  bottom: 100%;
  right: 20%;
  border-style: solid;
  border-color: transparent transparent var(--color-grey);
  border-width: 0 5px 10px;
  border-bottom-color: var(--color-grey);
  border-top: 0;
  transform: translateX(0.5px);
}
.navigation-user__dropdown-menu::after {
  content: "";
  position: absolute;
  display: block;
  margin: 0 0 -1px -4px;
  border-width: 0 4.5px 9px;
  bottom: 100%;
  right: 20%;
  border-style: solid;
  border-color: transparent transparent #fff;
}
.navigation-user__menu-list > .my-menu {
  padding: 10px 14px 11px;
}
.navigation-user__menu-list > .my-menu > a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-black);
}
.navigation-user__menu-list > .my-menu:hover {
  background-color: var(--color-white);
}
.main-title-link {
  color: var(--color-black);
}
.main-title-link:hover {
  color: inherit;
}
.navigation-draw-button {
  padding: 0;
}
.navigation-draw-button > .navigation-icon > path {
  fill: var(--color-skyblue);
}
.navigation-sign-in,
.navigation-sign-up {
  display: none;
}

/*navigation-drawer(mobile-only)*/
/* 바디에 스크롤 막는 방법 */
.not-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.navigation-drawer-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding: 100%;
  background-color: var(--color-black);
  opacity: 0.8;
}
.navigation-drawer-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 1000000;
}
.navigation-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  min-width: 256px;
  max-width: 360px;
  min-height: 100%;
  padding: 30px 20px;
  background-color: #fff;
  z-index: 999;
}
.navigation-drawer a {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-black);
}
.navigation-drawer__logo a {
  font-size: 24px;
}
.navigation-drawer__logo .main-home-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: -8px;
}
.navigation-drawer__user {
  margin: 30px 0;
}
.navigation-drawer__sign-in {
  display: flex;
  align-items: center;
}
.navigation-drawer__sign-in .button {
  flex: 1 0 0;
  display: block;
  margin: 0 5px;
  padding: 9px 10px;
  width: 6.2em;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  line-height: 1.33;
}
.navigation-drawer__sign-in .button--color-white {
  color: var(--color-skyblue);
  border: 1px solid var(--color-skyblue);
}
.navigation-drawer__sign-in .button--color-skyblue {
  background-color: var(--color-skyblue);
  border: 1px solid transparent;
  color: #fff;
}
.navigation-drawer__user-image {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: -5px;
}
.navigation-drawer__user-image .image {
  width: 100%;
}
.navigation-drawer__user-nickname {
  font-size: 15px;
  font-weight: 700;
}
.navigation-drawer__menu,
.navigation-drawer__user-menu {
  margin-bottom: 0;
  padding-left: 0;
}
.navigation-drawer__user-menu {
  padding-top: 10px;
  border-top: 1px solid var(--color-light-grey);
}
.navigation-drawer__list.main-list {
  position: relative;
  padding: 15px 10px;
  border-top: 1px solid var(--color-light-grey);
  font-size: 18px;
  font-weight: 700;
}
.navigation-drawer__list.main-list .icon {
  vertical-align: -5px;
  margin-right: 2px;
}
.navigation-drawer__list.main-list .arrow-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -3px;
}
.navigation-drawer__list {
  padding: 7px 10px;
}

.navigation-drawer__list a {
  font-weight: 400;
  line-height: 20px;
}
.navigation-drawer__list.second {
  padding: 0;
  height: 0;
  overflow: hidden;
}
.navigation-drawer__list.second.open {
  height: 100%;
}
.navigation-drawer__second-menu {
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.navigation-drawer__list.second-list a {
  font-weight: 700;
}

/* nav */
.navigation-bar-secondary__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  height: 40px;
}
.navigation-bar-secondary__list > a {
  margin: 6px 4px;
  padding: 8px 4px 7px;
  text-decoration: none;
  color: var(--color-black);
}
.navigation-bar-secondary__list:hover .menu-link {
  color: var(--color-skyblue);
}
/* banner */
.store-main__banner-wrap:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 60.66667%;
}
.store-main__banner-wrap {
  max-height: 380px;
  background-image: url("../image/banner/banner1_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* category */
.layout {
  display: flex;
  flex-direction: column;
}
.category-title {
  display: none;
}
.category-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
}
.category-box .mobile-hide {
  display: none;
}
.category-item {
  flex: 0 0 25%;
  padding: 3px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center;
}
.category-item > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.category-item .category-item__image {
  width: 52px;
  height: 52px;
  margin-bottom: 6px;
}
.more-btn {
  margin: 5px 0 10px;
}
.category-item p {
  font-size: 11px;
  margin-bottom: 3px;
}

.category-item.mobile-show {
  background-color: var(--color-white-grey);
}
.category-item.mobile-show ~ .category-item {
  display: none;
}

/*today-deal*/
#main-today-deal {
  margin-top: 50px;
}
#main-today-deal .title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
#main-today-deal .today-deal-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
#main-today-deal a {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--color-red);
  margin-right: 7px;
  margin-bottom: 0;
}
.today-deal-item {
  display: flex;
  padding: 10px 0;
  letter-spacing: -0.04em;
}
.today-deal-item__image-wrap {
  width: 48%;
  flex: 0 0 48%;
  border-radius: 4px;
  overflow: hidden;
}
.today-deal-item__image {
  width: 100%;
}
.today-deal-item__content {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 6px;
}
.today-deal-item__content-wrap {
  flex: 1 0 0;
}
.today-deal-item__header {
  margin-bottom: 0;
}
.today-deal-item__brand {
  display: block;
  margin-bottom: 4px;
  font-size: 11px;
  color: var(--color-darkgrey);
}
.today-deal-item__name {
  display: block;
  font-size: 13px;
  line-height: 16px;
  max-height: 48px;
}
.today-deal-item .star-icon {
  width: 1.1em;
  height: 1.1em;
  margin-right: 1px;
  fill: var(--color-skyblue);
}
.today-deal-item__review {
  font-size: 13px;
  font-weight: 700;
}
.today-deal-item__review > .review {
  margin-left: 2px;
  color: var(--color-darkgrey);
}
.today-deal-item .production-item-price {
  margin: 10px 0;
}
.production-discount-rate,
.production-discount-price {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: var(--color-black);
}
.production-discount-rate {
  color: var(--color-red);
}
#main-today-deal .today-deal__more-btn {
  margin-top: 10px;
  padding: 11px 10px 12px;
  color: var(--color-darkgrey);
  text-decoration: none;
  text-align: center;
  background-color: var(--color-light-grey);
  border-radius: 4px;
}
#main-today-deal .right-icon {
  vertical-align: 1px;
}

/* main keywords */
#main-keywords {
  margin-top: 50px;
}
#main-keywords .category-title {
  display: block;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
}
.main-keywords__keyword {
  width: 100%;
  height: 97px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.main-keywords__keyword::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--color-black);
  opacity: 0.5;
}
.main-keywords__keyword .keyword-image {
  width: 100%;
  height: 100%;
  background-position: 10%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-keywords__keyword > span {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: auto;
}
.main-keywords__keyword > span:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navigation-bar__header {
    height: 80px;
  }
  .navigation-draw-button {
    display: none;
  }
  .navigation-bar-primary .main-title {
    top: 0;
    left: 0;
    transform: none;
    margin-bottom: 0;
    margin-right: 35px;
    font-size: 30px;
  }
  .navigation-bar-primary .main-title > .main-title-link {
    line-height: 2;
    font-size: 30px;
  }
  .main-title-link::before {
    content: "\f015";
    margin-right: 6px;
    font-family: FontAwesome;
    color: var(--color-skyblue);
  }
  .navigation-bar__header > .main-title:hover .main-title-link::before {
    color: var(--color-blue);
  }
  /*
  .navigation-search-input {
    margin-right: 8px;
    padding: 8px 9px 10px 29px;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
    outline: none;
    font-size: 15px;
    line-height: 20px;
    cursor: text;
    display: block;
  }
  .navigation-search-input:hover {
    background-color: var(--color-white);
  }
  */
   .navigation__icon.mobile-hide {
    display: block;
  }
  .navigation-sign-in,
  .navigation-sign-up {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: var(--color-darkgrey);
  }
  .navigation-sign-up {
    margin-right: 8px;
  }
  .navigation-sign-in::after {
    content: "|";
    padding: 0 8px;
    font-weight: 400;
  }
  .navigation-sign-in:hover,
  .navigation-sign-up:hover {
    color: var(--color-skyblue);
  }
  .navigation-user.mobile-hide {
    margin-right: 10px;
  }
  .navigation-user.mobile-hide,
  .navigation-upload.mobile-hide {
    display: block;
    text-decoration: none;
    text-align: center;
    align-self: center;
  }
  
  .navigation-user.mobile-hide {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .navigation-upload.mobile-hide {
    width: 85px;
    padding: 8px 0 10px;
    font-size: 16px;
    line-height: 21px;
    border-radius: 4px;
    background-color: var(--color-skyblue);
    color: #fff;
  }
  .navigation-upload.mobile-hide:hover {
    background-color: var(--color-blue);
  }

  /*nav*/
  .navigation-bar-secondary__menu {
    justify-content: flex-start;
    height: 48px;
  }
  .navigation-bar-secondary__list {
    margin-right: 16px;
  }
  .navigation-bar-secondary__list > a {
    font-size: 15px;
  }
  /* banner */
  .store-main__banner-wrap {
    margin: 0 auto;
  }
  /*category*/
  .layout > section {
    width: 100%;
    margin: 50px auto 0;
  }
  #main-category {
    order: 2;
  }
  .category-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 14px;
  }
  .category-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .category-wrap {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    width: 100%;
    height: 100%;
  }
  .category-box .mobile-hide.prev.show {
    display: block;
    z-index: 1;
  }
  .category-box .mobile-hide.prev {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.01), #fff);
  }
  .category-box .mobile-hide.next.show {
    display: block;
  }
  .category-box .mobile-hide.next {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 100%;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.01), #fff);
  }
  .category-list-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .category-list-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .prev-btn rect,
  .next-btn rect {
    cursor: pointer;
  }
  .category-item {
    flex: 0 0 10%;
    border: none;
    text-align: center;
  }
  .category-item.mobile-show {
    display: none;
  }
  .category-item.mobile-show ~ .category-item {
    display: block;
  }
  .category-item > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .category-item .category-item__image {
    width: 80px;
    height: 80px;
    margin-bottom: 6px;
  }
  .category-item:nth-last-of-type(1) {
    display: none;
  }
  .category-item span {
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
  }
  /*today deal*/
  .today-deal-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    letter-spacing: -0.04em;
  }
  .today-deal-item__image-wrap {
    width: 100%;
    margin-bottom: 9px;
  }
  .today-deal-item__image {
    transition: all 300ms ease;
  }
  .today-deal-item__image:hover {
    transform: scale(1.1);
  }
  .today-deal-item__content {
    margin-left: 0;
    margin-bottom: 0;
  }
  .today-deal-item__header {
    line-height: 1;
    margin-bottom: 5px;
  }
  .today-deal-item .production-item-price {
    margin: 5px 0 0 0;
  }
  .today-deal-item .today-deal-item__review {
    line-height: 1;
    margin-bottom: 5px;
  }
  .today-deal__more-btn {
    display: none;
  }

  /*keywords*/
  .main-keywords__keyword {
    height: 120px;
  }
  .main-keywords__keyword > span {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  .navigation-search-input {
    margin-right: 8px;
    padding: 8px 9px 10px 39px;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
    outline: none;
    font-size: 15px;
    line-height: 20px;
    cursor: text;
    display: block;
  }
  .navigation-search-input:hover {
    background-color: var(--color-white);
  }
  .navigation-upload.mobile-hide {
    width: 100px;
  }
  .layout > section {
    width: 100%;
    margin: 50px auto 0;
  }
}

@media screen and (min-width: 1200px) {
  section:not(.store-main__banner-wrap) {
	 max-width: 1256px;
	 padding: 0 5rem;
	 margin: 0 auto;
  }
 .layout > section {
    width: 100%;
    margin: 50px auto 0;
  }
}
