/*Global*/
:root {
  /*color*/
  --color-white: #fafafa;
  --color-blue: #23b3df;
  --color-skyblue: #35c5f0;
  --color-green: #1ec800;
  --color-black: #424242;
  --color-darkgrey: #757575;
  --color-grey: #dbdbdb;
  --color-light-grey: #ededed;
  --color-white-grey: #f5f5f5;
  --color-red: #ff7777;
}

/* button color */
.button--color-skyblue {
  background-color: var(--color-skyblue);
  border: none;
  border-radius: 4px;
  color: #fff;
}
.button--color-skyblue:hover {
  background-color: var(--color-blue);
}
/* button size */
.button-size-50 {
  padding: 11px 10px;
  font-size: 17px;
  line-height: 26px;
}
.button-size-30 {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
}
